#primo-div{
    height: 600px;
    width: 100%;
    padding-top: 200px;
    // background-color: $colore_panna;

    #div-wrapper{
        width: 85%;
        margin: auto;

        #primo-div-sinistra{
            width: 50%;
            float: left;
            color: $colore_principale;

            #testo-sopra{
                font-size: 50px;
                font-weight: bold;
                line-height: 1.4;
            }

            #testo-sotto{
                font-size: 22px;
                color: $colore_principale;
                line-height: 1.8;
            }

            .contenitore-bottoni{
                display: flex;
                align-items: center;

                #bottone-sinistra{
                    @include bottoni_blu ($colore_blu);
                    @include my-flex (row, space-around, center);
                    margin-right: 14px;
                    cursor: pointer;

                    img{
                        max-width: $grandezza_icone_piccole;
                    }
                }
                #bottone-sinistra:hover{
                    background-color: #233569;
                }

                #bottone-destra{
                    @include bottoni_blu ($colore_blu);
                    @include my-flex (row, space-around, center);
                    margin-left: 14px;
                    cursor: pointer;

                    img{
                        max-width: $grandezza_icone_piccole;
                    }
                }
                #bottone-destra:hover{
                    background-color: #233569;
                }
            }

            #paragrafetto {
                margin-top: 20px;

                a{
                    text-decoration: none;
                    color: $colore_principale;
                    font-size: 14px;
                }
                a:hover{
                    color: $colore_blu_hover;
                }
            }
        }

        #primo-div-destra{
            width: 50%;
            float: right;

            img{
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}

#secondo-div{
    width: 100%;
    height: 1800px;
    padding-top: 50px;
    background-color: #ffe7d2;

    #paragrafo-traditinal-people{
        @include font-size (26px);
        @include impostazione_titolo;
    }

    #tre-immagini{
        width: 70%;
        height: 235px;
        padding-top: 30px;
        margin: auto;

        figure{
            @include figure_proprieta;
            display: inline-block;

            .contenitore-img{
                @include contenitore_img_proprieta;

                img{
                    max-width: 100%;
                }
            }

            figcaption{
                @include figcaption_proprieta;
            }
        }
    }

    .immagine-coniglio{
        @include img_coniglio_proprieta;
        margin-bottom: 110px;

        img{
            max-width: 100%;
        }
    }

    #sezione-sopra::after{
        @include linea-after($colore_principale);
    }
}
