#primo-div{
    height: 600px;
    width: 100%;
    padding-top: 200px;

    #div-wrapper{
        width: 85%;
        margin: auto;

        #primo-div-sinistra{
            width: 50%;
            float: left;
            color: $colore_principale;

            #testo-sopra{
                font-size: 50px;
                font-weight: bold;
                line-height: 1.4;
            }

            #testo-sotto{
                font-size: 22px;
                color: $colore_principale;
                line-height: 1.8;
            }

            .contenitore-bottoni{
                display: flex;
                align-items: center;

                #bottone-sinistra{
                    @include bottoni_blu ($colore_blu);
                    @include my-flex (row, space-around, center);
                    margin-right: 14px;
                    cursor: pointer;

                    img{
                        max-width: $grandezza_icone_piccole;
                    }
                }
                #bottone-sinistra:hover{
                    background-color: #233569;
                }

                #bottone-destra{
                    @include bottoni_blu ($colore_blu);
                    @include my-flex (row, space-around, center);
                    margin-left: 14px;
                    cursor: pointer;

                    img{
                        max-width: $grandezza_icone_piccole;
                    }
                }
                #bottone-destra:hover{
                    background-color: #233569;
                }
            }

            .paragrafetto {
                margin-top: 20px;

                a{
                    text-decoration: none;
                    color: $colore_principale;
                    font-size: 14px;
                }
                a:hover{
                    color: $colore_blu_hover;
                }
            }
        }

        #primo-div-destra{
            width: 50%;
            float: right;

            img{
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}

// parte 1 della sezione con le immagini e sfondo ROSA

#secondo-blocco{
    width: 100%;
    height: 1800px;
    padding-top: 50px;
    background-color: #ffe7d2;

    .sezione-singola{

        .paragrafo-teambit-modern{
            @include font-size (26px);
            @include impostazione_titolo;
        }

        .tre-immagini{
            @include tre-immagini-animaletti;

            figure{
                @include figure_proprieta;
                display: inline-block;

                .contenitore-img{
                    @include contenitore_img_proprieta;

                    img{
                        max-width: 100%;
                    }
                }

                figcaption{
                    @include figcaption_proprieta;
                }
            }
        }
        .immagine-coniglio{
            @include img_coniglio_proprieta;
            margin-bottom: 110px;

            img{
                max-width: 100%;
            }
        }
    }
    .sezione-singola::after{
        @include linea-after($colore_principale);
    }

// volevo copiare le classi della parte di sopra ma non prendeva tutte le proprietà

    .sezione-sotto{
        padding-top: 60px;

        .paragrafo-teambit-modern{
            @include font-size (26px);
            @include impostazione_titolo;
        }

        .tre-immagini{
            @include tre-immagini-animaletti;
            @include my-flex (row, center, center);

            figure{
                @include figure_proprieta;
                display: inline-block;
                text-align: center;

                .contenitore-img{
                    @include contenitore_img_proprieta;

                    img{
                        max-width: 100%;
                    }
                }

                #terza-img{
                    @include contenitore_img_proprieta;

                    img{
                        max-width: 50%;
                    }
                }

                figcaption{
                    @include figcaption_proprieta;
                }
            }
        }
        .immagine-coniglio{
            @include img_coniglio_proprieta;
            padding: 50px 0px 70px 0px;

            img{
                max-width: 100%;
            }
        }

        p{
            @include font-size (26px);
            @include impostazione_titolo;
            padding-top: 40px;
        }
    }
}

// il blocco con le 4 sezioni a 2 a 2 uguali

#blocco-quattro-sezioni{
    width: 100%;
    height: 2550px;
    margin-top: 60px;

    .sezione-singola-riga{
        @include struttura-base-sezioni;

        .img-sinistra{
            @include struttura-base-sezione-singola;
            float: left;

            img{
                max-width: 100%;
            }
        }

        .sezione-testo-destra{
            @include struttura-base-sezione-singola;
            float: left;

            .paragrafo-titolo{
                @include font-size (26px);
                @include impostazioni_titolo;
                padding-left: 30px;
            }

            .paragrafo-testo{
                @include impostazioni-testo;
                padding-left: 30px;
            }

            .link-struttura a{
                @include link-struttura;
                padding-left: 30px;
            }

            .immagine-pinguino{
                width: 420px;
                height: 200px;
                margin: auto;

                img{
                    padding-top: 20px;
                    max-width: 110%;
                }
            }
        }
    }
    .sezione-singola-riga{
        padding-top: 20px;

        .sezione-testo-sinistra{
            @include struttura-base-sezione-singola;
            float: left;

            .paragrafo-titolo{
                @include font-size (26px);
                @include impostazioni_titolo;
                padding-left: 200px;
                margin: 0;
            }

            .paragrafo-testo{
                @include impostazioni-testo;
                padding-left: 200px;
                margin: 0;
                margin-top: 20px;
            }

            .link-struttura a{
                @include link-struttura;
                padding-left: 200px;
                margin: 0;
            }

            .immagine-pinguino{
                width: 420px;
                height: 200px;
                margin: auto;
                padding-left: 270px;

                img{
                    padding-top: 20px;
                    max-width: 60%;
                }
            }
        }
        .img-destra{
            @include struttura-base-sezione-singola;
            float: left;
            margin: 0;

            img{
                max-width: 110%;
            }
        }
    }
}

// FINE blocco con le 4 sezioni a 2 a 2 uguali

// BLOCCO con blocknote

#blocco-blocknote{
    padding-top: 90px;
    height: 800px;
    width: 100%;
    background-color: $colore_rosa;

    #titolo-centrale{
        @include titolo-centrale-struttura;
    }

    #blocknote{
        @include blockquote;

        .footer-blocknote{
            padding: 25px 0px;

            .due-img-persone{
                width: 88px;
                height: 38px;
                float: left;

                img{
                    border-radius: 50%;
                    float: left;
                    max-width: 50%;
                }
            }

            #nomi-ragazzo-sopra{
                margin-left: 18px;
                color: $colore_principale;
            }

            #nomi-ragazzo-sotto{
                margin-left: 18px;
                color: $colore_blu_hover;
            }
        }
    }

    .contenitore-botton{
        display: flex;
        align-items: center;
        padding-top: 35px;
        width: 30%;
        padding-left: 474px;

        #bottone-sin{
            @include bottoni_blu ($colore_blu);
            @include my-flex (row, space-around, center);
            margin-right: 14px;
            cursor: pointer;

            img{
                max-width: $grandezza_icone_piccole;
            }
        }
        #bottone-sin:hover{
            background-color: #233569;
        }

        #bottone-dx{
            @include bottoni_blu ($colore_blu);
            @include my-flex (row, space-around, center);
            margin-left: 14px;
            cursor: pointer;

            img{
                max-width: $grandezza_icone_piccole;
            }
        }
        #bottone-destra:hover{
            background-color: #233569;
        }
    }
    .paragrafetto {
        margin-top: 20px;
        text-align: center;

        a{
            text-decoration: none;
            color: $colore_principale;
            font-size: 14px;
        }
        a:hover{
            color: $colore_blu_hover;
        }
    }
}
