#header-contenitore{
    height: 75px;
    width: 100%;
    position: fixed;
    background-color: white;

    #header-wrapper{
        padding: 20px 0;

        nav{
            height: 35px;
            width: 1150px;
            margin: auto;
            @include my-flex (row, space-between, center);

            img{
                cursor: pointer;
            }

            #lista-header{
                @include my-flex (row, space-around, center);
                @include list-style;

                li{
                    text-decoration: none;

                    a{
                        text-decoration: none;
                        color: $colore_principale;
                        font-weight: 750;
                        font-size: 13px;
                        margin-right: 37px;
                    }
                }
                li a:hover{
                    color: $colore_blu;
                }
            }

            button{
                @include my-flex (row, space-around, center);
                border: 1px solid $colore_blu;
                background-color: white;
                padding: 6px 10px;
                @include border-radius(5px);
                color: $colore_blu;
                cursor: pointer;

                img{
                    max-width: 17px;
                    margin-right: 6px;
                }
                span{
                    font-size: 15px;
                }
            }
            button:hover{
                background-color: $colore_blu;
                color: white;
            }
        }
    }
}

#header-contenitore::after{
    @include linea-after($colore_principale);
}
