#header-contenitore{
    height: 75px;
    width: 100%;

    #header-wrapper{
        padding: 20px 0;
        @include my-flex(row, space-between, center);

        nav{
            height: 35px;
            width: 1150px;
            margin: auto;
            @include my-flex(row, space-between, center);
        }
    }
}
